Pillow
XlsxWriter
awscli
boto3
botocore
cloud_sptheme
colorama
commonmark
f5-sphinx-theme>=2.0.8
git+https://github.com/nerdoftech/s3_index_generator.git@0.2.0
gitpython
graphviz
lxml
markupsafe==2.0.1
pre-commit
python-pptx
recommonmark
sphinx>=3.0
sphinx-autobuild
sphinx-copybutton
sphinx-js
sphinx-markdown-tables
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-addmetahtml
sphinxcontrib-blockdiag
sphinxcontrib-mermaid
sphinxcontrib-nwdiag
sphinxcontrib-serializinghtml
sphinxcontrib-youtube
sphinxcontrib-yt
sphinxjp.themes.basicstrap>=0.5.0
sphinxprettysearchresults
tornado==3.2
versjon
virtualenv
yattag
