Pillow
XlsxWriter
boto3
botocore
cloud_sptheme
colorama
commonmark
sphinx-favicon
f5-sphinx-theme>=2.1.1
git+https://github.com/nerdoftech/s3_index_generator.git@0.2.0
gitpython
graphviz
lxml
markupsafe==2.0.1
pre-commit
python-pptx
recommonmark
sphinx>=3.0
sphinx-autobuild
sphinx-copybutton
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-addmetahtml
sphinxcontrib-blockdiag
sphinxcontrib-mermaid
sphinxcontrib-nwdiag
sphinxcontrib-serializinghtml
sphinxcontrib-youtube
sphinxcontrib-video
sphinxjp.themes.basicstrap>=0.5.0
sphinxprettysearchresults
tornado==3.2
versjon
virtualenv
yattag
